<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.lialzm.spring.support.JsonRequestMethodArgumentResolver">
                <constructor-arg>
                    <list>
                        <!--只是用来防止报错,目前并没有使用到消息转换器-->
                        <ref bean="byteArrayHttpMessageConverter"/>
                    </list>
                </constructor-arg>
            </bean>
        </mvc:argument-resolvers>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--配置controller扫描路径-->
    <context:component-scan base-package="com.lialzm.**.controller">
    </context:component-scan>
    <bean id="myMappingJackson2HttpMessageConverter"
          class="com.lialzm.spring.support.MyMappingJackson2HttpMessageConverter"></bean>
    <bean id="byteArrayHttpMessageConverter"
          class="org.springframework.http.converter.ByteArrayHttpMessageConverter"></bean>

</beans>